.filter {    
    select {
      height: 33px;
      background-color: white;
      border: 1px solid #ced4da;
      text-align: center;
      align-items: center;
      width: 100px;      
      option {
        font-weight: normal;
        display: block;
        white-space: pre;
        min-height: 1.2em;
        padding: 0px 2px 1px;
      }
    }
}
.label{
    margin: auto 10px;
}
  