@import 'styles/_palette.scss';

.myjjim-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .AiFillHeart {
    color: $pink;
    font-size: 3.5rem;
    margin-top: 2rem;
  }
}
