@import 'styles/_palette.scss';

.header {
  margin-bottom: 2rem;

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .tab-list {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);
    width: 100%;

    ul {
      display: flex;

      li {
        border-bottom: 0.2rem solid $wadiz;
        list-style: none;
        color: $gray;
      }

      .click {
        color: $wadiz;
      }
    }
  }
}
