.detail-image-component {
  .product-details-main-image {
    max-width: 500px;
    border-radius: 10px;
    margin: 30px auto auto;
    height: auto;
  }

  .product-details-image {
    max-width: 100px;
    border-radius: 10px;
    margin: 10px 10px;
    height: auto;
  }
}
