@import 'styles/_palette.scss';

.whole {
  justify-content: center;
  display: flex;
}

.image {
  padding: 10px;

  .picturediv {
    width: 350px;
    height: 350px;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    width: 30px;
    height: 30px;
  }
}

.image-description {
  align-items: center;
  .picturediv {
    width: 400px;
    height: 330px;
    border: 2px solid lightgray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    width: 30px;
    height: 30px;
  }
}

.text-middle {
  width: 10%;
  border-radius: 20px;
  margin: 0.5rem 2rem 0.5rem 1rem;
  background-color: $light-gray;
  text-align: right;
  height: 295px;
  padding: 30px;
}

.text-bottom {
  width: 70%;
  border-radius: 20px;
  margin: 2rem 5rem 3rem 0;
  background-color: $light-gray;
  text-align: right;
  height: 100px;
  padding: 30px;
}
