@import 'styles/_palette.scss';

.discription {
  display: flex;
  padding: 20px;
  text-align: left;
  width: 100%;
  border-radius: 0.7rem;
  margin-top: 2rem;
  background-color: $black-025 !important;
  label {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px;
  }
  input {
    border-radius: 5px;
    align-items: right;
  }
  textarea {
    border-radius: 5px;
  }
  select {
    border-radius: 5px;
  }
  .leftside {
    display: flex;
    flex-direction: column;
  }
  .rightside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px;
  }
}

.uploaddiv {
  display: flex;
  justify-content: center;
  .picturediv {
    width: 300px;
    height: 240px;
    border: 2px solid lightgray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .preview {
    display: flex;
    width: 300px;
    height: 240px;
    overflow-x: scroll;
  }
  .icon {
    width: 30px;
    height: 30px;
  }
}
