@import 'styles/_palette.scss';

.point-dialog {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .body {
    z-index: 2;
    font-size: 18px;
    font-weight: 700;
    color: $black;

    .container {
      background: $white;
      border-radius: 20px;
      padding: 20px;

      .title {
        width: 100%;
        text-align: center;
        margin: auto;
      }

      .point {
        margin-top: 1em;
        width: 100%;
        border-radius: 10px;
        font-size: 1em;
        padding: 10px;
        display: block;
        background: #f3f3f5;
        color: $black;
        border: none;
      }

      .btn-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        margin-top: 1em;
        text-align: center;
        .confirm {
          width: 45%;
          background: #9a47ed;
          color: #fff;
          border-radius: 10px;
          font-size: 1em;
          padding: 10px;
        }
        .cancel {
          background-color: #f3f3f5;
          color: $black-400;
          width: 45%;
          border-radius: 10px;
          font-size: 1em;
          padding: 10px;
        }
      }
    }
  }
}
