@import 'styles/_palette.scss';

.setcountry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    .title{
      font-size: 2rem;
      margin:50px;
      padding:10px;
    }
    .profilediv{
      display: flex;
      flex-direction: row;
      .userinfo{
        margin-top: 50px;
        font-size: x-large;
        font-weight: bold;
      }
      .picture{
        margin-right:50px;
        margin-top: auto;
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
      }    
    }   
    .country{
      display: flex;
      margin:auto 20px;
      flex-direction: row;      
      font-size: x-large;
      font-weight: bold;    
      .BiWorld{       
        color: $purple;
      }
    }    
    .point{
      display: flex;
      margin:auto 20px;
      flex-direction: column;      
      font-size: x-large;
      font-weight: bold;
    }
}
.subtitle{
  margin: auto 10px;
  padding: 20px;
  font-size: xx-large;
  font-weight: bold; 
}