@import 'styles/_palette.scss';

.category-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 100%;

  .RiArrowRightSLine,
  .RiArrowLeftSLine {
    color: $gray;
    font-size: 2.5rem;
  }
}
