@import 'styles/_palette.scss';

.button {
  background-color: $wadiz;
  border: 0.0625rem solid $wadiz;
  border-radius: 0.7rem;
  color: $white;
  padding: 0.825rem;
  font-size: 1rem;
  line-height: 1;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.12);
  height: 3rem;
  width: 15rem;
}
