@import 'styles/_palette.scss';

.signup {
  display: flex;
  flex-direction: column;
  width: 460px;
  margin: 0 auto;

  h1 {
    font-size: 30px;
    font-style: #292929;
    margin-bottom: 20px;
  }

  input {
    width: 70%;
    border: none;
    padding: 10px 15px;
    background-color: rgb(240, 240, 240);
  }

  button {
    border: 1px solid $wadiz;
    border-radius: 2px;
    padding: 2px;
    color: white;
    background-color: $wadiz;
    padding: 8px 14px;
  }

  .title {
    float: left;
    margin-top: 1.7rem;
  }
  .agree {
    display: flex;
    .agree-chkbtn {
      width: 15px;
      height: 15px;
    }
    .agree-text {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 2px;
      margin-left: 5px;
      font-weight: bold;
      font-size: 15px;

      .agree-more {
        text-align: right;
      }
    }
  }
  .email {
    .email-auth {
      float: right;
    }
  }

  .notice {
    opacity: 0.7;
    font-size: 13px;
    margin: 8px 0px 15px 5px;
  }

  .name {
    display: flex;
    margin-bottom: 20px;
  }
  .password {
    .password-input {
      display: flex;
      margin-bottom: 10px;
    }
    .password-conf {
      display: flex;
    }
  }
}

.emoji {
  font-size: 20px;
  padding-top: 5px;
  margin-right: 8px;
  opacity: 0.5;
}

.password-input,
.password-conf,
.name,
.email {
  border: 1px solid rgb(210, 210, 210);
  justify-content: space-between;
  padding: 3px;
  margin: 5px;
  background-color: rgb(240, 240, 240);
}
