@import 'styles/_palette.scss';
.Header {
  position: sticky;
  top: 0px;
  padding: 5px;
  background-color: $white;
  width: 100%;
  z-index: 3;

  .navigation_bar {
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;

    .nav {
      list-style: none;
      border: 0.0625rem solid #00c4c4;
      background-color: $white;
      color: #00c4c4;
      border-radius: 0.7rem;
      padding: 0.825rem;
      font-size: 1rem;
      text-align: center;
      line-height: 1;
      font-weight: 400;
      box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.12);
      width: 10rem;
    }
  }
}
