@import 'styles/_palette.scss';
.Header {
  position: sticky;
  top: 0px;
  padding: 5px;
  backdrop-filter: blur(20px);
  width: 100%;
  z-index: 999;

  .navigation_bar {
    margin: 10px 0px;
    display: flex;
    justify-content: center;

    .nav {
      list-style: none;
      color: $gray;
      border-radius: 9999px;
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      text-align: center;
      line-height: 1;
      font-size: 20px;
      font-weight: 800;
      padding: 0.5rem;

      li {
        height: 1rem;
        box-sizing: border-box;
      }
    }
  }
}
