@import 'styles/_palette.scss';

.addprojectdiv {
  margin: 5rem auto;
  text-align: center;

  .titlediv {
    text-align: center;
    margin-bottom: 2rem;
    .title {
      font-size: 2rem;
    }
  }

  button {
    color: white;
    font-weight: bold;
    background: $wadiz;
    padding: 0.375rem 0.75rem;
    border: 1px solid $wadiz;
    width: 200px;
    height: 50px;
    border-radius: 10px;
  }
}
