@import 'styles/_palette.scss';

ol {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  border-radius: 0.7rem;
  margin-top: 2rem;
  background-color: $black-025 !important;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 14px 8px 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    height: 3rem;

    &:last-child {
      border-bottom: none;
    }

    .title {
      margin-left: 0.7rem;
    }

    .AiFillHeart {
      color: $pink;
    }

    .RiShoppingBag3Fill {
      color: $wadiz;
    }

    .BiWorld {
      color: $purple;
    }

    .RiArrowRightSLine {
      margin-left: auto;
    }
  }
}
