@import 'styles/_palette.scss';

.header {
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 2rem;

  h1 {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .btnLogin {
    background-color: $wadiz;
    border: 0.0625rem solid $wadiz;
    border-radius: 0.7rem;
    color: $white;
    padding: 0.825rem;
    font-size: 1rem;
    line-height: 1;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.12);
    height: 3rem;
    width: 15rem;
  }
  .facebookIcon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #3b5998;
    padding: 10px;
  }
  .kakaoIcon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #f7e600;
    padding: 10px;
  }
  .appleIcon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
  }
  .googleIcon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
  }
}
