@import 'styles/_palette.scss';

.project {
  --zoom: 1;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  min-width: 100px;
  max-width: 150px;

  .heart-wrapper {
    position: relative;
    top: 0.3rem;
    left: 0.3rem;
    background-color: $white;
    border-radius: 10px;
    width: 1.4rem;
    height: 1.4rem;
  }

  .AiFillHeart,
  .AiOutlineHeart {
    position: relative;
    left: 0.1rem;
    top: 0.1rem;
    font-size: 1.2rem;
    color: $pink;
  }

  &-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: calc(8px * var(--zoom)) calc(7px * var(--zoom));
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    border-radius: 0 0 calc(10px * var(--zoom)) calc(10px * var(--zoom));

    &-name {
      display: block;
      font-size: calc(14px * var(--zoom));
      line-height: 1.2;
      font-weight: 600;
      color: #fff;
      margin-bottom: calc(5px * var(--zoom));
      max-height: calc(14px * 1.2 * var(--zoom) * 2);
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-price {
      display: inline-flex;
      align-items: center;
      background: rgba(0, 0, 0, 0.4);
      border-radius: calc(5px * var(--zoom));
      padding: calc(3px * var(--zoom)) calc(4px * var(--zoom));

      &-default {
        color: rgba(255, 255, 255, 0.8);
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        font-weight: 600;
        font-size: calc(11px * var(--zoom));
        text-decoration-line: line-through;
        margin-right: 5px;
      }

      &-current {
        color: #fff;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        font-weight: 600;
        font-size: calc(12px * var(--zoom));
      }
    }
  }
}
