@import 'styles/_palette.scss';

.cart-item {
  width: 100%;
  padding-bottom: 29px;

  .cart-item-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
  }

  .cart-item-info {
    display: flex;

    .cart-item-info-left {
      width: 100px;
      height: 128px;
      border-radius: 10px;
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .cart-item-info-right {
      display: flex;
      flex: 1 1;
      flex-direction: column;
      margin-left: 1rem;
      justify-content: space-between;
      align-items: flex-end;
      width: 140px;

      .cart-item-input {
        justify-content: space-between;
        width: 120px;
        height: 40px;
        border-radius: 10px;
        background: $light-gray;
        border: 0;
        font-size: 1rem;
        padding-right: 1rem;
        margin-top: 1rem;
        text-align: right;
      }
      .price {
        font-size: 20px;
        font-weight: 700;
        margin-right: 4px;
      }

      .wrap {
        display: flex;
        justify-content: space-around;
        margin-right: 4px;

        .modify {
          display: flex;
          margin-right: 8px;
          span {
            color: $gray;
            font-weight: 600;
            font-size: 15px;
            margin-top: 2px;
          }

          .FaCoins {
            color: $gray;
            margin-right: 3px;
            font-size: 15px;
          }
        }

        .delete {
          display: flex;
          span {
            color: #f54243;
            font-weight: 600;
            font-size: 15px;
            margin-top: 2px;
          }

          .MdRemoveShoppingCart {
            color: #f54243;
            margin-right: 3px;
          }
        }
      }
    }
  }
}
