@import 'styles/_palette.scss';

.language-selector {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  height: 20vh;
  width: 100%;
  background-color: $light-gray;
  p {
    font-size: 16px;
    font-weight: 700;
  }
  .language-list {
    height: 33px;
    background-color: white;
    border: 1px solid #ced4da;
    outline: none;
    padding: 0.5rem;
    width: 10rem;
  }
}
