@import 'styles/_palette.scss';
.hit {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  line-height: 1;
  background: rgba(255, 29, 29, 0.8);
  color: white;
  font-size: 20px;
  font-weight: 700;
}
