@import 'styles/_palette.scss';

.myhistory-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .RiShoppingBag3Fill {
    color: $wadiz;
    font-size: 3.5rem;
    margin-top: 2rem;
  }
}
