@import 'styles/_palette.scss';

.category {
  text-align: center;
  height: 50px;
  width: 50px;
  padding: 10px;
  margin: 10px;
  
  .pic {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid $wadiz;
  }
}
