@import 'styles/_palette.scss';

.profile {
  display: flex;
  flex-direction: column;

  .photo {
    margin-top: auto;
    max-width: 400px;
    border-radius: 20px;
    width: 100%;
    height: 100%;

    img {
      max-width: 400px;
      margin-bottom: 1rem;
    }
  }

  .opening-ment {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
  }

  .user-name {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
  }

  .user-point {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
}
